# environment config file

# Timezone for the containers
TZ=Asia/Shanghai

# PHP word dir
SOURCE_DIR=./www

# PHP Alpine Repositories
ALPINE_REPOSITORIES=mirrors.aliyun.com

# restart: no on-failure:10 always unless-stopped

# Nginx
NGINX_VERSION=1.17.2-alpine
NGINX_HTTP_HOST_PORT=80
NGINX_HTTPS_HOST_PORT=443
NGINX_CONFD_DIR=./conf/conf.d
NGINX_CONF_FILE=./conf/nginx.conf
NGINX_LOG_DIR=./log/nginx
NGINX_RESTART=always

# Available extensions:
#
# pdo_mysql,zip,pcntl,mysqli,mbstring,exif,bcmath,calendar,
# sockets,gettext,shmop,sysvmsg,sysvsem,sysvshm,pdo_rebird,
# pdo_dblib,pdo_oci,pdo_odbc,pdo_pgsql,pgsql,oci8,odbc,dba,
# gd,intl,bz2,soap,xsl,xmlrpc,wddx,curl,readline,snmp,pspell,
# recode,tidy,gmp,imap,ldap,imagick,sqlsrv,mcrypt,opcache,
# redis,memcached,xdebug,swoole,pdo_sqlsrv,sodium,yaf,mysql,
# amqp,mongodb,event
#
# Please seperate theme with comma(,) if you use more than
# one.
#
# For other extensions not list here, you also can install
# via pecl or source, which show in script install.sh and
# php72.sh in extensions.

# PHP7.2
PHP72_VERSION=7.2.21
PHP72_PHP_CONF_FILE=./conf/php.ini
PHP72_FPM_CONF_FILE=./conf/php-fpm.conf
PHP72_LOG_DIR=./log/php
PHP72_EXTENSIONS=pdo_mysql,mysqli,mbstring,gd,curl,opcache
PHP72_RESTART=always

# PHP5.6
PHP56_VERSION=5.6.40
PHP56_PHP_CONF_FILE=./conf/php.ini
PHP56_FPM_CONF_FILE=./conf/php-fpm.conf
PHP56_LOG_DIR=./log/php
PHP56_EXTENSIONS=pdo_mysql,mysqli,mbstring,gd,curl,opcache
PHP56_RESTART=always

# MySQL
MYSQL_VERSION=8.0.17
MYSQL_HOST_PORT=3306
MYSQL_ROOT_PASSWORD=123456
MYSQL_DATA_DIR=./mysql
MYSQL_CONF_FILE=./conf/mysql.cnf
MYSQL_RESTART=always
MYSQL_ALLOW_EMPTY_PASSWORD=no

# Redis
REDIS_VERSION=5.0.5-alpine
REDIS_HOST_PORT=6379
REDIS_CONF_FILE=./conf/redis.conf
REDIS_RESTART=always

# RABBITMQ
RABBITMQ_VERSION=management
RABBITMQ_HOST_PORT_C=5672
RABBITMQ_HOST_PORT_S=15672
RABBITMQ_DEFAULT_USER=admin
RABBITMQ_DEFAULT_PASS=123456
RABBITMQ_RESTART=always

# MONGODB
MONGODB_VERSION=4.1
MONGODB_DATA_DIR=./mongo
MONGODB_HOST_PORT=27017
MONGODB_INITDB_ROOT_USERNAME=root
MONGODB_INITDB_ROOT_PASSWORD=123456
